option_settings:
  - option_name: CVM_TRIPLESTORE_URL
    value: http://csu-blazegraph.us-east-1.elasticbeanstalk.com/namespace/production/sparql
  - option_name: CVM_TRIPLESTORE_TYPE
    value: blazegraph
  - option_name: CVM_SECRET_KEY_BASE
    value: b1c811bcc04899c5f48c6d89977996620b8820cc47dd573823449e14473839e938b10f5f15879129be5c751d9ad4157bc929ee85715e4c63e4b0413f7708f97c
  - option_name: BLAZEGRAPH_URL
    value: http://csu-blazegraph.us-east-1.elasticbeanstalk.com